@import "tailwindcss" source(none);
@import "./variables.css";

@source "../../index.html";
@source "..";

@theme {
  --color-black: #191923;
  --color-nigth-800: #23232dfa;
  --color-nigth-900: #20212a;
}

@layer base {
  h1 {
    font-size: var(--ui-h1-size);
    line-height: var(--ui-h1-heigth);
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  h4, h5, h6 {
    @apply text-sm;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply h-screen;
    background-color:  var(--ui-color-black);
  }
}
