@layer components {
  .ui-circular {
    width: var(--ui-circular-width);
    height: var(--ui-circular-height);
    background: transparent;
    border-radius: 50%;
  }

  .ui-circle {
    position:  relative;
    display:  flex;
  }

  .ui-circle__mask,
  .ui-circle__fill {
    width: var(--ui-circular-width);
    height: var(--ui-circular-height);
    position: absolute;
    border-radius: 50%;
  }

  .ui-circle__mask {
    clip: rect(0px, var(--ui-circular-width), var(--ui-circular-width), calc(var(--ui-circular-width) / 2));
  }

  .ui-circle__fill {
    clip: rect(0px, calc(var(--ui-circular-width) / 2), var(--ui-circular-width), 0px);
    background-color:  var(--ui-circular-color);
  }

  .ui-circle__full,
  .ui-circle__fill {
    animation: fill-circular ease-in-out 3s;
    transform: rotate(var(--ui-circular-deegres));
  }

  .ui-circle__content {
    width: calc(var(--ui-circular-width) - 10px);
    height: calc(var(--ui-circular-width) - 10px);
    border-radius: 50%;
    background-color: var(--ui-circular-background);
    color:  var(--ui-color-white);
    line-height: calc(var(--ui-circular-width) - 10px);
    text-align: center;
    margin-top: 5px;
    margin-left: 5px;
    position: absolute;
    z-index: 100;
    font-weight: 400;
    @apply text-sm flex items-center justify-center;
  }

  @keyframes fill-circular {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(var(--ui-circular-deegres));
    }
  }
}
