@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,700,900');

$nb-themes: nb-register-theme(
  (
    header-padding: 0,
    user-size-xlarge: 12rem,
    font-main:
      unquote(
        '"Fira Sans", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif'
      ),
    font-secondary: font-main
  ),
  default,
  default
);
